*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  background: #f9eeff url(./assets/background-pattern-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 5vh;
}

hr {
  border-color: rgba(0, 0, 0, 0.15);
}

h1 {
  line-height: 1.4;
  font-size: 3rem;
  position: relative;
}

h1::before {
  content: url(./assets/icon-star.svg);
  margin-right: 0.25em;
}

h2 {
  font-size: 1.15rem;
}

.accordion-label {
  position: relative;
  padding-right: 3em;
}

.accordion-label::after {
  content: url(./assets/icon-plus.svg);
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

main {
  display: grid;
  height: 100vh;
  place-items: center;
  padding: 1em;
}

.container {
  max-width: 80%;
  margin-inline: auto;
  background-color: white;
  padding: 2em;
  border-radius: 1em;
}

.accordion-content {
  color: #8c6991;
  font-weight: 400;
  margin-block: 1.5em;
  height: 0;
  line-height: 1.5;
  overflow: hidden;
  transition: all 0.25s;
}

.accordion.active .accordion-content {
  height: fit-content;
}

.accordion.active .accordion-label::after {
  content: url(./assets/icon-minus.svg);
}

@media screen and (min-width: 50rem) {
  body {
    height: 10vh;
    background: #f9eeff url(./assets/background-pattern-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }

  h2 {
    font-size: 1.5rem;
  }

  .container {
    max-width: 50%;
    box-shadow: 3px 3px 6px hsla(292, 42%, 14%, 25%);
  }

  .accordion-content {
    padding-right: 4em;
  }

  .accordion.active .accordion-content {
    height: 3.125rem;
  }
}
